.onecoininfo {
  color: #f8f8f8;
  background: #8BA5D2;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 100px;
  margin: 0;
  font-size: 50px;
  font-family: Helvetica, Arial,  sans-serif;
}
